<div class="section-title">
    <h2>Resumen</h2>
    <p> Busco desarrollar mi carrera, contribuyendo con mis habilidades para lograr diseños finales que satisfagan las necesidades y preferencias de los clientes.
      DESARROLLO, CONTROL DE VERSIONES(GIT,GITHUB), PRUEBAS Y 
 DEPURACIÓN, CONOCIMIENTOS EN PYTHON Y EL FRAMEWORK WEB DJANGO,
 FAMILIARIDAD SQL PARA INTERACTUAR CON BASES DE DATOS RELACIONALES, 
 CAPACIDAD PARA REALIZAR CONSULTAS BÁSICAS EN BASES DE DATOS SQL
    </p>
  </div>

  <div class="row">
    <div class="col-lg-6" data-aos="fade-up"> 
      <h3 class="resume-title">Educacion</h3>
      <div class="resume-item">
        <h4>INDUSTRIALES &amp; ELECTRONICA DE CONSUMO.</h4>
        <h5>2016</h5>
        <p><em>UNIDAD EDUCATIVA LA ALBORADA</em></p>
    
      </div>
      <div class="resume-item">
        <h4>INGENIERO EN SISTEMAS COMPUTACIONALES</h4>
        <h5>2021</h5>
        <p><em>UNIVERSIDAD ESTATAL DE MILAGRO</em></p>
      </div>
      <div class="resume-item">
        <h4>INGLES</h4>
        <h5>2016</h5>
        <p><em>ACADEMIA LIVIN LANG</em></p>
      </div>
      <div class="resume-item">
        <h4>INGLES</h4>
        <h5>2023-2024</h5>
        <p><em>AMERICAN LANGUAGE CENTER</em></p>
      </div>
    </div>
    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
      <h3 class="resume-title">Experiencia</h3>
      <div class="resume-item">
        <h4>ASISTENTE TECNICO</h4>
        <h5>2018 - 2022</h5>
        <p><em>SOPORTES DE TELEVISION</em></p>
        <ul>
          <li>Preparación del sitio</li>
          <li>Manejo de herramientas y equipos</li>
          <li>Montaje de estructuras</li>
          <li>Pruebas y ajustes</li>
        </ul>
      </div> 
      <div class="resume-item">
        <h4>Digitador/Programador</h4>
        <h5>2023</h5>
        <p><em>EPUNEMI</em></p>
        <ul>
          <li>Desarrollo Web</li>
          <li>Control de Versiones</li>
          <li>Pruebas y Depuración</li>
        </ul>
      </div> 
    </div>

    
  </div>