<div class="section-title">
    <h2>Portfolio</h2>
   </div>
 

  <div class="row portfolio-container" >

    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
      <div class="portfolio-wrap">
        <img src="assets/restaurant.png" class="img-fluid" alt="">
        <div class="portfolio-links">
          <!-- <a href="assets/restaurant.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a> -->
          <a href="https://restaurantunemi.netlify.app/login" title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>
    </div> 
    <div class="col-lg-4 col-md-6 portfolio-item filter-app"> 
        <div class="portfolio-wrap">
          <img src="assets/restaurantfront.png" class="img-fluid" alt="">
          <div class="portfolio-links">
            <!-- <a href="assets/restaurantfront.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a> -->
            <a href="https://poetic-gumption-6ddf0d.netlify.app/" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div> 
      <div class="col-lg-4 col-md-6 portfolio-item filter-app"> 
        <div class="portfolio-wrap">
          <img src="assets/prospy.png" class="img-fluid" alt="">
          <div class="portfolio-links">
            <!-- <a href="assets/prospy.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a> -->
            <a href="https://subsequent-daffie-bramosl.koyeb.app/" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div> 
  </div> 